<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/admin.css' />
  </head>
  <body>
    <header style="background-color: orange;"><h1>Panel de Administración</h1></header>
    <main>
        <%- body %>
    </main>
    <footer>
        <a href="/logout">Cerrar Sesión</a>
    </footer>
  </body>
</html>