<!DOCTYPE html>
<html>
  <head>
    <title>Todo List App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><h1>TodoList - Public</h1></header>
    <main>
        <%- body %>
    </main>
    <footer>Francisco Romero - Proyecto IT</footer>
  </body>
</html>