body { padding: 0; margin: 0; font-family: sans-serif; display: grid; min-height: 100vh; grid-template-rows: auto 1fr auto; }
header, footer { background: lightblue; padding: 20px; text-align: center; }
main { padding: 20px; display: flex; flex-direction: column; align-items: center; }
a { color: #00B7FF; }